#sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 18%;
    background-color: rgb(223, 223, 223);
}
body{
    overflow-y: hidden;
}
.row{
    /* text-decoration: none; */
    color: black;
    background-color: white;
    /* padding: 10px 0px; */
    margin: 12px 0px;
    padding-left: 8px;
    border-radius: 4px;
    text-decoration: none;
}
#sidebar a{

}
#sidebar a:hover{
    
    /* border-bottom: 1px solid red; */
    /* text-decoration: dashed red; */

}
#container{
    display: flex;
    flex-direction: row;
}
#adjust{
    height: 100vh;
    width: 2px;
    background-color: rgb(179, 179, 179);
}

/* navbar */

#navbar{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 18%;
    border-bottom: 1px solid black
}
img{
    height: 35px;
}

.icon{
    padding: 0px 74px
}
.icon:hover{
    border-bottom: 3px solid red;

}
#last{
    position: relative;
    left: 38%;
}

/* container */

.content{
    width: 82%;
    justify-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    border: 2px solid black;
}
.card{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 17px;
    justify-content: center;
    background-color: rgb(133, 110, 110);
    border-radius: 4px;
    position: relative;
}

.photo{
    background-image: url(images/ecg.png);
    background-color: rgb(165, 59, 59);
    filter: opacity(0.5) drop-shadow(0 0 0 blue);
}

h1,p{
    text-align: center;
}