#sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 18%;
    background-color: rgb(223, 223, 223);
}
body{
    overflow-y: hidden;
}
.row{
    /* text-decoration: none; */
    color: black;
    background-color: white;
    /* padding: 10px 0px; */
    margin: 12px 0px;
    padding-left: 8px;
    border-radius: 4px;
    text-decoration: none;
}
#sidebar a{

}
#sidebar a:hover{
    
    /* border-bottom: 1px solid red; */
    /* text-decoration: dashed red; */

}
#container{
    display: flex;
    flex-direction: row;
}
#adjust{
    height: 100vh;
    width: 2px;
    background-color: rgb(179, 179, 179);
}

/* navbar */

#navbar{
    display: flex;  
    flex-direction: row;

    border-bottom: 1px solid black;
    justify-content: space-between;
}
.first{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 18%;
}
.sec{
    display: flex;
}
img{
    height: 35px;
}

.icon{
    padding: 0px 74px;
    border-bottom: 3px solid transparent;
}
.icon:hover{
    border-bottom: 3px solid red;

}
/* #last{
    position: relative;
    left: 38%;
} */

/* container */

.content{
    width: 82%;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    /* grid-template-rows: auto auto auto auto auto; */
    grid-auto-rows: 269px;
    border: 2px solid black;
}
.card{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 17px;
    justify-content: center;
    /* background-color:rgb(230 228 243); */
    border-radius: 8px;
    position: relative;
    box-shadow: 1px 3px 8px 1px #888888;
}

.photo{
    background-image: linear-gradient(rgba(251, 91, 55, 0.259),rgba(251, 91, 55, 0.259)),url(images/ecg.png);
    background-size: cover;
    height: 40%;
}
.text{
    height: 60%;
    background-color: rgb(228,	216	,213)	;
}
p{
    position: absolute;
    top: 37%;
    left: 10px;
}
h1{
    padding-left: 10px;
    position: relative;
    /* left: 8px; */
    top: -11px;
    margin-top: 14px;
    font-size: 25px;
}

